openapi: 3.0.1
info:
  title: Payerset Data Lake Billing Codes Providers API
  description: The Payerset Data Lake API provides programmatic access to U.S. healthcare price transparency data parsed from payer Transparency in Coverage (TiC) machine-readable files and hospital price transparency MRFs, enriched with provider, payer, and billing-code reference metadata. Endpoints support payer/provider negotiated rate lookups, NPI and TIN provider mapping, billing-code classification, and hospital MRF discovery. Authentication is via an API key supplied in the x-api-key header.
  contact:
    name: Payerset Support
    email: support@payerset.com
    url: https://www.payerset.com
  version: '2024-10-31'
servers:
- url: https://api.payerset.com
  description: Payerset Data Lake production API
security:
- api_key: []
tags:
- name: Providers
  description: Provider (NPI), organization, and tax identification (TIN) reference metadata and mappings.
paths:
  /v1/metadata/providers/npi_detail:
    get:
      operationId: getNpiDetail
      tags:
      - Providers
      summary: Get NPI detail
      description: Returns enriched provider metadata for a given NPI, including NPPES organization details, location, taxonomy classification, EIN, and Medicare enrollment information.
      parameters:
      - name: npi
        in: query
        required: true
        description: National Provider Identifier (e.g., "1234567890").
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/npiDetail'
      security:
      - api_key: []
  /v1/metadata/providers/npi_to_tin:
    get:
      operationId: getNpiToTin
      tags:
      - Providers
      summary: Get NPI to TIN mapping
      description: Returns the tax identification number(s) (TIN) associated with provider NPIs.
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/npiToTin'
      security:
      - api_key: []
  /v1/metadata/providers/tin_to_npi:
    get:
      operationId: getTinToNpi
      tags:
      - Providers
      summary: Get TIN to NPI mapping
      description: Returns the provider NPI(s) associated with a given tax identification number (TIN).
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tinToNpi'
      security:
      - api_key: []
  /v1/metadata/providers/npi_to_parent:
    get:
      operationId: getNpiToParent
      tags:
      - Providers
      summary: Get NPI to parent mapping
      description: Returns the parent organization NPI and TIN associated with provider NPIs.
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/npiToParent'
      security:
      - api_key: []
  /v1/metadata/providers/npi_parent:
    get:
      operationId: getNpiParent
      tags:
      - Providers
      summary: Get NPI parent
      description: Returns parent organization NPI relationships for providers.
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/npiParent'
      security:
      - api_key: []
components:
  schemas:
    npiParent:
      type: object
      properties:
        count:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              npi_parent:
                type: string
              npi:
                type: string
    npiToParent:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              npi:
                type: string
              npi_parent:
                type: string
              tin_value:
                type: string
    tinToNpi:
      type: object
      properties:
        count:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              npi:
                type: string
              tin_value:
                type: string
    npiDetail:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              npi:
                type: string
              taxonomygrouping:
                type: string
              taxonomyclassification:
                type: string
              taxonomyspecialization:
                type: string
              taxonomydisplayname:
                type: string
              organizationname:
                type: string
              state:
                type: string
              city:
                type: string
              zip:
                type: string
              primarytaxonomycode:
                type: string
              orgfriendlyname:
                type: string
              county:
                type: string
              ein:
                type: string
              latitude:
                type: string
              longitude:
                type: string
              medicare_enrollment_id:
                type: string
              medicare_enrollment_specialty:
                type: string
    npiToTin:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              npi:
                type: string
              tin_value:
                type: string
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
