openapi: 3.0.1
info:
  title: Payerset Data Lake Billing Codes Rates API
  description: The Payerset Data Lake API provides programmatic access to U.S. healthcare price transparency data parsed from payer Transparency in Coverage (TiC) machine-readable files and hospital price transparency MRFs, enriched with provider, payer, and billing-code reference metadata. Endpoints support payer/provider negotiated rate lookups, NPI and TIN provider mapping, billing-code classification, and hospital MRF discovery. Authentication is via an API key supplied in the x-api-key header.
  contact:
    name: Payerset Support
    email: support@payerset.com
    url: https://www.payerset.com
  version: '2024-10-31'
servers:
- url: https://api.payerset.com
  description: Payerset Data Lake production API
security:
- api_key: []
tags:
- name: Rates
  description: Payer-provider negotiated rate lookups from Transparency in Coverage MRFs.
paths:
  /v1/rates/rate_query:
    get:
      operationId: queryRate
      tags:
      - Rates
      summary: Query negotiated rate
      description: Returns the negotiated rate(s) for a given combination of billing code, payer, and provider NPI, derived from payer Transparency in Coverage machine-readable files.
      parameters:
      - name: billing_code
        in: query
        required: true
        description: Service billing code (e.g., CPT/HCPCS/MS-DRG such as "27447").
        schema:
          type: string
      - name: payer
        in: query
        required: true
        description: Payer system name (e.g., "Aetna").
        schema:
          type: string
      - name: npi
        in: query
        required: true
        description: National Provider Identifier of the provider.
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateQuery'
      security:
      - api_key: []
components:
  schemas:
    rateQuery:
      type: object
      description: Negotiated rate query result. The published API definition references a generic object schema for this response; fields are not enumerated in the provider's machine-readable definition.
      additionalProperties: true
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
